/* commentaire sur une ligne */
selecteur1 {
  proprieteA: valeurA;
  proprieteB: valeurB;
  /* ... */
}
/*
 * Commentaire
 * sur plusieurs lignes
 */
selecteur2 {
  proprieteX: valeurX;
  proprieteY: valeurY;
  /* ... */
}


/* les titres en bleu et les paragraphes en noir */
   h1 {
    color: blue;
   }
   p {
    color: black;
   }

/* les villes titres en bleu et les températures en vert */
li.ville0 {
 color: blue;
}
li.temp0 {
 color: green;
}


/* températures final */ 

/* les villes en bleu */ 
li.ville {
 color: blue;
}
/* les lignes de température en noir */
li.temp {
 color: black;
}
/* température minimale en vert */
.tmin {
 color: green; 
}
/* température maximale en rouge */
.tmax {
 color: red; 
}