{% extends "base.html" %}


{% block head %}

    <meta name="description" content="Une première page web">
    <meta name="keywords" content="HTML,exemple">
    <meta name="author" content="Jean Tartempion">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

{% endblock %}




{% block body_content %}

    <section class="main">
        <div class="grid-container">
    
            <h1 class="page-title">{{ titre }}</h1>
            
    		<div class="grid-x">
    			<div class="cell">
				    {% if titre == 'Moyenne' %}
                        <a class="button large button-grey" href="graph1">Défaut</a>
                    {% else %}
                        <a class="button large button-grey" href="graph1s">Par Mois</a>
		            {% endif %}
                    <div class="callout post" style="padding-top: 0px;">
                        <canvas id="graphique" width="200px" height="200px"></canvas>
                        
                        <script>
						    Chart.defaults.global.elements.line.fill = false; // remove the fills (le "remplissage")
							
                            // l'identifiant est celui du canevas
                            var ctx = document.getElementById('graphique').getContext('2d');
                            // création du graphique
                            var myChart = new Chart(ctx, {
                                type: '{{type}}',  // le type du graphique
                                data: {  // les données
                                    labels: {{ labels | safe }},
                                    datasets: [{
                                        label: 'cours',
    					                backgroundColor: "#3e95cd",  // une liste si on veut en mettre plusieurs: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", ...]
										borderColor: "#3e95cd",
                                        data: {{ data | safe }}
                                    }]
                                }
                            }
                            );
                        </script>
    			
    			    </div>
    			</div>
    		</div>
    		
    	</div>
    </section>

{% endblock %}
