{% extends "base.html" %}


{% block head %}

    <meta name="description" content="Une première page web">
    <meta name="keywords" content="HTML,exemple">
    <meta name="author" content="Jean Tartempion">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

{% endblock %}




{% block body_content %}

    <section class="main">
        <div class="grid-container">
		
            <h1 class="page-title">{{ titre }}</h1>
            
    		<div class="grid-x">
    			<div class="large-12 cell">
                    <a class="button large button-grey" {% if main == 'subm' %}style="background-color: black;"{% endif %} href="/{{ cours }}">Soumissions</a>
                    <a class="button large button-grey" {% if main == 'month' %}style="background-color: black;"{% endif %} href="?main=month">Soumissions par Mois</a>
		            <a class="button large button-grey" {% if main == 'results' %}style="background-color: black;"{% endif %} href="?main=results">Résultats</a>
					<!--
                    <a class="button large button-grey" {% if titre_graph == 'Exercices' %}style="background-color: black;"{% endif %} href="/{{ cours }}/exercices">Exercices</a>
					-->
                    <a class="button large button-grey" {% if titre_graph == 'Exercices' %}style="background-color: black;"{% endif %} href="/{{ cours }}/exercices_list">Exercices</a>
				    
					<!-- Titre du graphique -->
					<h2 class="titre-1"><b>{{ titre_graph }}</b></h2>
					
					{% if main == 'subm' %}
					    
					    <!-- Graphique des soumissions par jour (courbe) -->
						<p class="p-post">Nombre de soumissions effectuées par temps.</p>
					    <!-- Formulaire d'options -->
						<form method="GET">
					        <div class="grid-x align-middle">
								<div class="cell small-12 medium-11 large-11">
								    <div class="grid-x align-middle">
									    {% if size == 'default' %}
					                    <div class="cell medium-2 large-1 show-for-medium"><button type="submit" value="large" class="button button-a" name="size" id="large">Agrandir</button></div>
					        	        {% elif size == 'large' %}
					        	        <div class="cell medium-2 large-1 show-for-medium"><button type="submit" value="default" class="button button-a" name="size" id="default">Diminuer</button></div>
					        	        {% endif %}
                                        <div class="cell large-1 show-for-large"><p class="form-label">Début :</p></div>
                                        <div class="cell medium-1 show-for-medium-only"><p class="form-label">De</p></div>
                                        <div class="cell small-6 medium-3 large-3"><input class="form-input" type="text" value="{{ form_min }}" name="min" /></div>
                                        <div class="cell large-1 show-for-large"><p class="form-label">Fin :</p></div>
                                        <div class="cell medium-1 show-for-medium-only"><p class="form-label">À</p></div>
                                        <div class="cell small-6 medium-3 large-3"><input class="form-input" type="text" value="{{ form_max }}" name="max" /></div>
					        	        <div class="cell medium-1 large-2 show-for-medium" align="left" style="margin-left: 10px;"><input type="submit" value="Valider" class="button button-a" /></div>
									</div>
								</div>
								<div class="cell small-10 show-for-small-only" align="left"><input type="submit" value="Valider" class="button button-a" /></div>
					        	<div class="cell small-2 medium-1 large-1" align="right"><button type="button" class="button button-help" data-toggle="help">Help!</button></div>
				            </div>
                        </form>
						
						<!-- le callout d'aide -->
						{% include 'help.html' %}
						
					    {% if size == 'default' %}
					    <!-- Graphique en taille normale -->
						<div class="grid-x">
						<div class="cell small-12">
                        <div class="callout post" style="padding-top: 0px;">
                            <canvas id="subm"></canvas>
    			        </div>
						</div>
						</div>
						
					    {% endif %}
					
					{% elif main == 'month' %}
					
					    <!-- Graphique des soumissions par mois (bar) -->
						<p class="p-post">Nombre de soumissions effectuées par mois.</p>
					    <!-- Formulaire d'options -->
						<form method="GET">
					        <div class="grid-x align-middle">
						    	<input type="hidden" name="main" value="month" />
								<div class="cell small-12 medium-11 large-11">
								    <div class="grid-x align-middle">
									    {% if size == 'default' %}
					                    <div class="cell medium-2 large-1 show-for-medium"><button type="submit" value="large" class="button button-a" name="size" id="large">Agrandir</button></div>
					        	        {% elif size == 'large' %}
					        	        <div class="cell medium-2 large-1 show-for-medium"><button type="submit" value="default" class="button button-a" name="size" id="default">Diminuer</button></div>
					        	        {% endif %}
                                        <div class="cell large-1 show-for-large"><p class="form-label">Début :</p></div>
                                        <div class="cell medium-1 show-for-medium-only"><p class="form-label">De</p></div>
                                        <div class="cell small-6 medium-3 large-3"><input class="form-input" type="text" value="{{ form_min_M }}" name="min_M" /></div>
                                        <div class="cell large-1 show-for-large"><p class="form-label">Fin :</p></div>
                                        <div class="cell medium-1 show-for-medium-only"><p class="form-label">À</p></div>
                                        <div class="cell small-6 medium-3 large-3"><input class="form-input" type="text" value="{{ form_max_M }}" name="max_M" /></div>
					        	        <div class="cell medium-1 large-2 show-for-medium" align="left" style="margin-left: 10px;"><input type="submit" value="Valider" class="button button-a" /></div>
									</div>
								</div>
								<div class="cell small-10 show-for-small-only" align="left"><input type="submit" value="Valider" class="button button-a" /></div>
					        	<div class="cell small-2 medium-1 large-1" align="right"><button type="button" class="button button-help" data-toggle="help">Help!</button></div>
				            </div>
                        </form>
						
						<!-- le callout d'aide -->
						{% include 'help.html' %}
					
					    {% if size == 'default' %}
					    <!-- Graphique en taille normale -->
                        <div class="callout post" style="padding-top: 0px;">
                            <canvas id="month"></canvas>
    			        </div>
					    {% endif %}
					
					{% elif main == 'results' %}
					
					    <!-- Graphique des résultats -->
						<p class="p-post">Résultats de l'ensemble des soumissions du cours.</p>
					    <!-- Formulaire d'options -->
                        <form method="GET">
					        <div class="grid-x align-middle">
							    <div class="cell small-10 medium-11 large-11">
								    <div class="grid-x align-middle">
						    	        <input type="hidden" name="main" value="results" />
					                    {% if size == 'default' %}
					                    <div><button type="submit" value="large" class="button button-a" name="size" id="large">Agrandir</button></div>
					        	        {% elif size == 'large' %}
					        	        <div><button type="submit" value="default" class="button button-a" name="size" id="default">Diminuer</button></div>
					        	        {% endif %}
								        {% if datatype == 'nombre' %}
					                    <div style="margin-left:10px"><button type="submit" value="pourcentage" class="button button-a" name="datatype" id="pourcentage" />Pourcentage</button></div>
					        	        {% elif datatype == 'pourcentage' %}
					        	        <div style="margin-left:10px"><button type="submit" value="nombre" class="button button-a" name="datatype" id="nombre" />Nombre</button></div>
					        	        {% endif %}
								    </div>
								</div>
					        	<div class="cell small-2 medium-1 large-1" align="right"><button type="button" class="button button-help" data-toggle="help">Help!</button></div>
				            </div>
                        </form>
						
						<!-- le callout d'aide -->
						{% include 'help.html' %}
					    
					    {% if size == 'default' %}
						<!-- Graphique en taille normale -->
					    <div class="callout post" style="padding-top: 0px;">
                            <canvas id="results"></canvas>
    			        </div>
					    {% endif %}
					
					{% elif main == 'exercices_subm' %}
					
					    <!-- Graphique des résultats -->
						<p class="p-post">Moyennes des résultats des soumissions des exercices, pour les 10 meilleurs et les 10 plus mauvais.</p>
					    <!-- Formulaire d'options -->
                        <form method="GET">
					        <div class="grid-x align-middle">
							    <div class="cell small-10 medium-11 large-11">
								    <div class="grid-x align-middle">
						    	        <input type="hidden" name="main" value="exercices_subm" />
					                    {% if size == 'default' %}
					                    <div><button type="submit" value="large" class="button button-a" name="size" id="large">Agrandir</button></div>
					        	        {% elif size == 'large' %}
					        	        <div><button type="submit" value="default" class="button button-a" name="size" id="default">Diminuer</button></div>
					        	        {% endif %}
								    </div>
								</div>
					        	<div class="cell small-2 medium-1 large-1" align="right"><button type="button" class="button button-help" data-toggle="help">Help!</button></div>
				            </div>
                        </form>
						
						<!-- le callout d'aide -->
						{% include 'help.html' %}
					    
					    {% if size == 'default' %}
						<!-- Graphique en taille normale -->
					    <div class="callout post" style="padding-top: 0px;">
                            <canvas id="exercices_subm"></canvas>
    			        </div>
					    {% endif %}
					
					{% endif %}
					
    			</div>
    		</div>
    		
    	</div>
		
		{% if size == 'large' %}
		    <!-- Graphique en taille large -->
		    <div class="callout post" style="padding-top: 0px;">
			    <canvas id="{{ main }}"></canvas>
			</div>
	    {% endif %}
		
		<!-- Les autres graphiques -->
		<div class="grid-container">
		    <div class="grid-x grid-margin-x">
				{% if main != 'subm' %}
				<div class="medium-6 cell">
				    <h3 class="titre-1" style="align: 'center'"><b>{{ titre_subm }}</b></h3>
				    <a href="/{{ cours }}">
				        <div class="callout post">
				            <canvas id="subm"></canvas>
				        </div>
					</a>
				</div>
				{% endif %}
			    {% if main != 'month' %}
			    <div class="medium-6 cell">
				    <h3 class="titre-1" style="align: 'center'"><b>{{ titre_subm_M }}</b></h3>
				    <a href="?main=month">
				        <div class="callout post">
				            <canvas id="month"></canvas>
				        </div>
					</a>
				</div>
				{% endif %}
				{% if main != 'results' %}
				<div class="medium-6 cell">
				    <h3 class="titre-1" style="align: 'center'"><b>{{ titre_results }}</b></h3>
				    <a href="?main=results">
				        <div class="callout post">
				            <canvas id="results"></canvas>
				        </div>
					</a>
				</div>
				{% endif %}
				{% if main != 'exercices_subm' %}
				<div class="medium-6 cell">
				    <h3 class="titre-1" style="align: 'center'"><b>{{ titre_exo_subm + " (Non Chargé)" }}</b></h3>
				    <a href="?main=exercices_subm">
				        <div class="callout post">
				            <canvas id="exercices_subm"></canvas>
				        </div>
					</a>
				</div>
				{% endif %}
			</div>
		</div>
		
		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
		
    </section>

	<script>
		// Graphique des soumissions par jour (line/courbe)
		
        // l'identifiant est celui du canevas
        var ctx = document.getElementById('subm').getContext('2d');
        // création du graphique
        var myChart = new Chart(ctx, {
            type: '{{type_subm}}',  // le type du graphique
            data: {  // les données
                
			    {% if labels %}
                    labels: {{ labels | safe }},
		        {% endif %}
			    		        
                datasets: [{
                    label: 'Soumissions',
                    backgroundColor: "#3e95cd",  // utiliser une liste si on veut plusieurs couleurs, ex: ["#3e95cd", "#8e5ea2","#3cba9f", ...]
                    borderColor: "#3e95cd",
                    fill: false,  // fill: false -> permet de ne pas remplir la zone sous la courbe
                    //data: {{ data | safe }} ---> TO BE DELETED
                    data: [
                        {% for i in range(data| length) %}  // correspond à: for i in range(len(data))
                            { x: "{{ dates[i] | safe }}", y: {{ data[i] | safe }} },  // affichez le code source de la page si vous ne voyez pas ce que ça fait
                        {% endfor %}
                    ]
                }, {
                    label: 'Soumissions valides',
                    backgroundColor: "rgba(60, 186, 159, 0.5)",
                    borderColor: "#3cba9f",
                    data: [
                        {% for i in range(dataV| length) %}
                            { x: "{{ datesV[i] | safe }}", y: {{ dataV[i] | safe }} },
                        {% endfor %}
                    ]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: '{{ unit }}',
							min: '{{ min }}',
							max: '{{ max }}'
                        }
                    }]
                }
            }
        });
    </script>
	
	<script>
		// Graphique des soumissions par mois (bar)
		
        // l'identifiant est celui du canevas
        var ctx = document.getElementById('month').getContext('2d');
        // création du graphique
        var myChart = new Chart(ctx, {
            type: '{{type_subm_M}}',  // le type du graphique
            data: {  // les données
                
			    {% if labels_M %}
                    labels: {{ labels_M | safe }},
		        {% endif %}
			    		        
                datasets: [{
                    label: 'Soumissions',
                    backgroundColor: "#3e95cd",  // utiliser une liste si on veut plusieurs couleurs, ex: ["#3e95cd", "#8e5ea2","#3cba9f", ...]
                    borderColor: "#3e95cd",
                    fill: false,  // fill: false -> permet de ne pas remplir la zone sous la courbe
                    //data: {{ data | safe }} ---> TO BE DELETED
                    data: [
                        {% for i in range(data_M| length) %}  // correspond à: for i in range(len(data))
                            { x: "{{ dates_M[i] | safe }}", y: {{ data_M[i] | safe }} },  // affichez le code source de la page si vous ne voyez pas ce que ça fait
                        {% endfor %}
                    ]
                }, {
                    label: 'Soumissions valides',
                    backgroundColor: "#3cba9f",
                    borderColor: "#3cba9f",
                    data: [
                        {% for i in range(dataV_M| length) %}
                            { x: "{{ datesV_M[i] | safe }}", y: {{ dataV_M[i] | safe }} },
                        {% endfor %}
                    ]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: '{{ unit_M }}',
							min: '{{ min_M }}',
							max: '{{ max_M }}'
                        }
                    }]
                }
            }
        });
    </script>
	
	<script>
	    // Graphique des résultats (pie chart)
	
	    // l'identifiant est celui du canevas
        var ctx = document.getElementById('results').getContext('2d');
        // création du graphique
        var myChart = new Chart(ctx, {
            type: '{{type_results}}',  // le type du graphique
            data: {  // les données
                labels: {{ labels_results[1:] | safe }},
                datasets: [{
                    label: 'Soumissions',
                    backgroundColor: ["#3cba9f","#3e95cd", "#8e5ea2","#e8c3b9","#c45850", "grey"],
                    fill: false,  // fill: false -> permet de ne pas remplir la zone sous la courbe
                    data: {{ data_results[1:] | safe }}
                }]
            }
        });
    </script>
	
	{% if main == 'exercices_subm' %}
	<script>
	    // l'identifiant est celui du canevas
	    var ctx = document.getElementById('exercices_subm').getContext('2d');
	    // création du graphique
	    var myChart = new Chart(ctx, {
	        type: '{{ type_exo_subm }}',   // le type du graphique
	        data: {        // les données
                labels: {{ exo_subm_labels | safe }},
                datasets: [{
                    label: 'Pourcentage de soumissions valides',
                    backgroundColor: ["#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f"],
                    data: {{ exo_subm_data | safe }}
                }]
	        }
        });
    </script>
	{% else %}
	<script>
	    // l'identifiant est celui du canevas
	    var ctx = document.getElementById('exercices_subm').getContext('2d');
	    // création du graphique
	    var myChart = new Chart(ctx, {
	        type: 'bar',   // le type du graphique
	        data: {        // les données
                labels: ['exo1', 'exo2', 'exo3', 'exo4', 'exo5', 'exo6', 'exo7', 'exo8', 'exo9', 'exo10', 'exo11', 'exo12', 'exo12', 'exo14', 'exo15', 'exo16', 'exo17', 'exo18', 'exo19', 'exo20'],
                datasets: [{
                    label: 'Pourcentage de soumissions valides',
                    backgroundColor: ["#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#c45850","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f","#3cba9f"],
                    data: [4.0, 5.0, 7.1, 7.39, 7.64, 8.17, 9.61, 9.96, 11.53, 11.66, 73.92, 76.44, 78.29, 78.99, 81.77, 82.09, 84.89, 90.09, 96.7, 98.18]
                }]
	        }
        });
    </script>
	{% endif %}

{% endblock %}
