{% extends "base.html" %}


{% block head %}

    <!--
	Pas besoin de toucher a ca pour l'instant, pour l'instant c'est inutile
    -->
    <meta name="description" content="Une première page web">
    <meta name="keywords" content="HTML,exemple">
    <meta name="author" content="Jean Tartempion">
    
	<!--
	Le script de Chart.js qu'on importe, c'est une version Bundle capable de gérer les dates
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>

{% endblock %}




{% block body_content %}

    <!-- DE MANIÈRE GÉNÉRALE
	
	Victor préviens moi si par hasard tu tombe sur ce message
	
	- tout le code du corps de la page se trouve dans la section "main"
	  <section class="main">
	
	- <div class="grid-container"> est la "racine" de nos futurs "grid-x".
	  Il délimite une certaine zone sur la page.
	  On voit qu'a partir d'une certaine taille, la contenu ne grandi pas peu importe la taille de notre page web.
	  
	  Si besoin de visualisation, écriver qqch dans <div class="grid-container"> et en dehors et vous verrez la différence.
	  
	- <div class="grid-x"> permet de contenir des "cellules"
	
	- <div class="large-12 cell"> est une cellule.
	  les cellules définissent une zone de la page dans laquelle on place du code.
	  Leur taille peut aller de 1 à 12.
	  Voir une video de débutant pour visualiser le truc plus en détail.
	
	  "large-12" signifie que sur un écran large, la cellule occupera toute la largeur du "grid-x" dans laquelle elle se trouve.
	  Avec "large-6" elle n'occuperait que la moité par ex
	
	- on peut mettre un <div class="grid-x"> dans une cellule afin d'y placer d'autres cellules et on peut répéter cela indéfiniment.
	
	- <div class="callout post"> sont les "posts" dans lesquels sont actuellement placés nos graphiques.
	  Ce sont les zones blanches
	
	Pour FLASK, vous devriez savoir ce que représente les accolades pour les vairables, conditions, boucles etc
	
    -->
	
    <section class="main">
		
        <div class="grid-container">
            
            <!-- Titre de la page
			
            {{ titre }} : ici on a pris le nom du cours (ex: LSINF1101-PYTHON), voir __init__.py
            -->
            <h1 class="page-title">{{ titre }}</h1>
            
    		<div class="grid-x">
    			<div class="large-12 cell">
				
					
					
					<div class="tooltipw3buttonC">
				        <a class="button large button-a" {% if theme == 'mono' %}style="background-color: black;"{% endif %} href="/{{ cours }}">Cours</a>
						<span class="tooltiptextbuttonC show-for-large">
						    Revenir aux graphiques du cours
				        </span>
					</div>
				
				    {% if task != "no_task" %}
				    
					<!-- Les gros boutons gris
					
					{{ cours }} : nom du cours (ex: lsinf1101)
					-->
                    <a class="button large button-grey" {% if main == 'subm' %}style="background-color: black;"{% endif %} href="/{{ cours }}/exercices_list?task={{ task }}">Soumissions par Jour</a>
                    <a class="button large button-grey" {% if main == 'month' %}style="background-color: black;"{% endif %} href="/{{ cours }}/exercices_list?task={{ task }}&main=month">Soumissions par Mois</a>
		            <a class="button large button-grey" {% if main == 'results' %}style="background-color: black;"{% endif %} href="/{{ cours }}/exercices_list?task={{ task }}&main=results">Résultats</a>
                    <a class="button large button-grey" {% if main == 'successes' %}style="background-color: black;"{% endif %} href="/{{ cours }}/exercices_list?task={{task}}&main=successes">Réussites</a>
		            <a class="button large button-grey" {% if main == 'successesByTime' %}style="background-color: black;"{% endif %} href="/{{ cours }}/exercices_list?task={{ task }}&main=successesByTime">Réussites Cumulées</a>
				    
					<!-- Titre du graphique
					
					{{ titre_graph }} est le titre du graphique principal (celui en grand)
					-->
					<h2 class="titre-1"><b>{{ titre_graph }}</b></h2>
					
					<!-- 
					main est une variable modifiable par des méthodes GET (voir les liens des boutons juste au dessus)
					
					Comme vous pouvez le voir avec les conditions, on affiche un graphique différent selon la valeur de main.
					-->
					{% if main == 'subm' %}
					
					    <!-- Graphique des soumissions par jour (courbe) -->
						<p class="p-post">Nombre de soumissions effectuées par jour.</p>
					    <!-- Formulaire d'options -->
						<form method="GET">
					        <div class="grid-x align-middle">
							    <input type="hidden" name="task" value="{{ task }}" />
								<input type="submit" style="position: absolute; top: -10000px" />
								<div class="cell small-12 medium-11 large-11">
								    <div class="grid-x align-middle">
									
									    {% if size == 'default' %}
					                    <div class="cell medium-2 large-1 show-for-medium"><button type="submit" value="large" class="button button-a" name="size" id="large">Agrandir</button></div>
					        	        {% elif size == 'large' %}
					        	        <div class="cell medium-2 large-1 show-for-medium"><button type="submit" value="default" class="button button-a" name="size" id="default">Réduire</button></div>
					        	        {% endif %}
										
                                        
                                        <div class="cell large-1 show-for-large"><p class="form-label">Début :</p></div>
                                        <div class="cell medium-1 show-for-medium-only"><p class="form-label">De</p></div>
                                        <div class="cell small-6 medium-3 large-3">
										    {% if calendar == 'True' %}
										    <div id="position" class="reset-this">
		                                        <input class="form-input date-input-native" id="date1" type="text" name="min" min="{{ real_min }}" max="{{ real_max }}" value="{{ form_min }}">
		                                        <input class="form-input date-input-fallback" id="alt1" type="text" value="{{ form_min }}">
		                                        <div id="picker1" hidden></div>
	                                        </div>
											{% else %}
											<input class="form-input" type="text" value="{{ form_min }}" name="min" />
											{% endif %}
										</div>
                                        <div class="cell large-1 show-for-large"><p class="form-label">Fin :</p></div>
                                        <div class="cell medium-1 show-for-medium-only"><p class="form-label">À</p></div>
                                        <div class="cell small-6 medium-3 large-3">
										    {% if calendar == 'True' %}
										    <div id="position" class="reset-this">
		                                        <input class="form-input date-input-native" id="date2" type="text" name="max" min="{{ real_min }}" max="{{ real_max }}" value="{{ form_max }}">
		                                        <input class="form-input date-input-fallback" id="alt2" type="text" value="{{ form_max }}">
		                                        <div id="picker2" hidden></div>
	                                        </div>
											{% else %}
											<input class="form-input" type="text" value="{{ form_max }}" name="max" />
											{% endif %}
										</div>
										
					        	        <div class="cell medium-1 large-2 show-for-medium" align="left" style="margin-left: 10px;"><input type="submit" value="Valider" class="button button-a" /></div>
									</div>
								</div>
								<div class="cell small-10 show-for-small-only" align="left"><input type="submit" value="Valider" class="button button-a" /></div>
					        	<div class="cell small-2 medium-1 large-1" align="right"><button type="button" class="button button-help" data-toggle="help">Infos</button></div>
				            </div>
                        </form>
						
						<!-- le callout d'aide -->
						{% include 'help.html' %}
					
					    <!-- size
						Une varibale size est assignée à chaque graphique et modifiable par des méthodes GET (les liens se trouvent dans les formulaires d'options
						Le graphique ci-dessous ne s'affiche que si size == 'default'
						
						size peut aussi etre égal à 'large', c'est un graphique plus bas qui sera alors affiché => chercher la condition f size == 'default'
						-->
					    {% if size == 'default' %}
					    <!-- Graphique en taille normale -->
                        <div class="callout post" style="padding-top: 0px;">
                            <canvas id="subm"></canvas>
    			        </div>
					    {% endif %}
					
					<!-- 
					Si main == 'month', c'est le graphique par mois qui est affiché
					-->
					{% elif main == 'month' %}
					
					    <!-- Graphique des soumissions par mois (bar) -->
						<p class="p-post">Nombre de soumissions effectuées par mois.</p>
					    <!-- Formulaire d'options -->
						<form method="GET">
					        <div class="grid-x align-middle">
							    <input type="hidden" name="task" value="{{ task }}" />
						    	<input type="hidden" name="main" value="month" />
								<input type="submit" style="position: absolute; top: -10000px" />
								<div class="cell small-12 medium-11 large-11">
								    <div class="grid-x align-middle">
									    {% if size == 'default' %}
					                    <div class="cell medium-2 large-1 show-for-medium"><button type="submit" value="large" class="button button-a" name="size" id="large">Agrandir</button></div>
					        	        {% elif size == 'large' %}
					        	        <div class="cell medium-2 large-1 show-for-medium"><button type="submit" value="default" class="button button-a" name="size" id="default">Réduire</button></div>
					        	        {% endif %}
                                        <div class="cell large-1 show-for-large"><p class="form-label">Début :</p></div>
                                        <div class="cell medium-1 show-for-medium-only"><p class="form-label">De</p></div>
                                        <div class="cell small-6 medium-3 large-3"><input class="form-input" type="text" value="{{ form_min_M }}" name="min_M" /></div>
                                        <div class="cell large-1 show-for-large"><p class="form-label">Fin :</p></div>
                                        <div class="cell medium-1 show-for-medium-only"><p class="form-label">À</p></div>
                                        <div class="cell small-6 medium-3 large-3"><input class="form-input" type="text" value="{{ form_max_M }}" name="max_M" /></div>
					        	        <div class="cell medium-1 large-2 show-for-medium" align="left" style="margin-left: 10px;"><input type="submit" value="Valider" class="button button-a" /></div>
									</div>
								</div>
								<div class="cell small-10 show-for-small-only" align="left"><input type="submit" value="Valider" class="button button-a" /></div>
					        	<div class="cell small-2 medium-1 large-1" align="right"><button type="button" class="button button-help" data-toggle="help">Infos</button></div>
				            </div>
                        </form>
						
						<!-- le callout d'aide -->
						{% include 'help.html' %}
					
					    {% if size == 'default' %}
					    <!-- Graphique en taille normale -->
                        <div class="callout post" style="padding-top: 0px;">
                            <canvas id="month"></canvas>
    			        </div>
					    {% endif %}
					
					<!-- 
					Si main == 'results', c'est le graphique des résultats qui est affiché
					-->
					{% elif main == 'results' %}
					
					    <!-- Graphique des résultats -->
						<p class="p-post">Comparatif des résultats de l'ensemble des soumissions de l'exercice.</p>
					    <!-- Formulaire d'options -->
                        <form method="GET">
					        <div class="grid-x align-middle">
							    <input type="hidden" name="task" value="{{ task }}" />
						    	<input type="hidden" name="main" value="results" />
							    <div class="cell small-10 medium-11 large-11">
								    <div class="grid-x align-middle">
					                    {% if size == 'default' %}
					                    <div><button type="submit" value="large" class="button button-a" name="size" id="large">Agrandir</button></div>
					        	        {% elif size == 'large' %}
					        	        <div><button type="submit" value="default" class="button button-a" name="size" id="default">Réduire</button></div>
					        	        {% endif %}
								        {% if datatype == 'nombre' %}
					                    <div style="margin-left:10px"><button type="submit" value="pourcentage" class="button button-a" name="datatype" id="pourcentage" />Pourcentage</button></div>
					        	        {% elif datatype == 'pourcentage' %}
					        	        <div style="margin-left:10px"><button type="submit" value="nombre" class="button button-a" name="datatype" id="nombre" />Nombre</button></div>
					        	        {% endif %}
								    </div>
								</div>
					        	<div class="cell small-2 medium-1 large-1" align="right"><button type="button" class="button button-help" data-toggle="help">Infos</button></div>
				            </div>
                        </form>
						
						<!-- le callout d'aide -->
						{% include 'help.html' %}
					    
					    {% if size == 'default' %}
						<!-- Graphique en taille normale -->
					    <div class="callout post" style="padding-top: 0px;">
                            <canvas id="results"></canvas>
    			        </div>
					    {% endif %}
					
					<!-- 
					Si main == 'successes', c'est le graphique des réussites qui est affiché
					-->
					{% elif main == 'successes' %}
					
					    <!-- Graphique des réussites -->
						<p class="p-post">{% if datatypeS == 'pourcentage' %}Pourcentage{% else %}Nombre{% endif %} d'étudiants ayant réussi l'exercice.</p>
					    <!-- Formulaire d'options -->
                        <form method="GET">
					        <div class="grid-x align-middle">
							    <input type="hidden" name="task" value="{{ task }}" />
						    	<input type="hidden" name="main" value="successes" />
							    <div class="cell small-10 medium-11 large-11">
								    <div class="grid-x align-middle">
					                    {% if size == 'default' %}
					                    <div><button type="submit" value="large" class="button button-a" name="size" id="large">Agrandir</button></div>
					        	        {% elif size == 'large' %}
					        	        <div><button type="submit" value="default" class="button button-a" name="size" id="default">Réduire</button></div>
					        	        {% endif %}
								        {% if datatype == 'nombre' %}
					                    <div style="margin-left:10px"><button type="submit" value="pourcentage" class="button button-a" name="datatype" id="pourcentage" />Pourcentage</button></div>
					        	        {% elif datatype == 'pourcentage' %}
					        	        <div style="margin-left:10px"><button type="submit" value="nombre" class="button button-a" name="datatype" id="nombre" />Nombre</button></div>
					        	        {% endif %}
								    </div>
								</div>
					        	<div class="cell small-2 medium-1 large-1" align="right"><button type="button" class="button button-help" data-toggle="help">Infos</button></div>
				            </div>
                        </form>
						
						<!-- le callout d'aide -->
						{% include 'help.html' %}
					    
					    {% if size == 'default' %}
						<!-- Graphique en taille normale -->
					    <div class="callout post" style="padding-top: 0px;">
                            <canvas id="successes"></canvas>
    			        </div>
					    {% endif %}
					
					<!-- 
					Si main == 'successesByTime', c'est le graphique des réussites par temps qui est affiché
					-->
					{% elif main == 'successesByTime' %}
					
					    <!-- Graphique des réussites -->
						<p class="p-post">Nombre d'étudiants cumulé ayant réussi l'exercice au cours du temps.</p>
					    <!-- Formulaire d'options -->
						<form method="GET">
					        <div class="grid-x align-middle">
							    <input type="hidden" name="task" value="{{ task }}" />
						    	<input type="hidden" name="main" value="successesByTime" />
								<input type="submit" style="position: absolute; top: -10000px" />
								<div class="cell small-12 medium-11 large-11">
								    <div class="grid-x align-middle">
									    {% if size == 'default' %}
					                    <div class="cell medium-2 large-1 show-for-medium"><button type="submit" value="large" class="button button-a" name="size" id="large">Agrandir</button></div>
					        	        {% elif size == 'large' %}
					        	        <div class="cell medium-2 large-1 show-for-medium"><button type="submit" value="default" class="button button-a" name="size" id="default">Réduire</button></div>
					        	        {% endif %}
										
                                        <div class="cell large-1 show-for-large"><p class="form-label">Début :</p></div>
                                        <div class="cell medium-1 show-for-medium-only"><p class="form-label">De</p></div>
                                        <div class="cell small-6 medium-3 large-3">
										    {% if calendar == 'True' %}
										    <div id="position" class="reset-this">
		                                        <input class="form-input date-input-native" id="date1" type="text" name="min_S" min="{{ real_min_S }}" max="{{ real_max_S }}" value="{{ form_min_S }}">
		                                        <input class="form-input date-input-fallback" id="alt1" type="text" value="{{ form_min_S }}">
		                                        <div id="picker1" hidden></div>
	                                        </div>
											{% else %}
											<input class="form-input" type="text" value="{{ form_min_S }}" name="min_S" />
											{% endif %}
										</div>
                                        <div class="cell large-1 show-for-large"><p class="form-label">Fin :</p></div>
                                        <div class="cell medium-1 show-for-medium-only"><p class="form-label">À</p></div>
                                        <div class="cell small-6 medium-3 large-3">
										    {% if calendar == 'True' %}
										    <div id="position" class="reset-this">
		                                        <input class="form-input date-input-native" id="date2" type="text" name="max_S" min="{{ real_min_S }}" max="{{ real_max_S }}" value="{{ form_max_S }}">
		                                        <input class="form-input date-input-fallback" id="alt2" type="text" value="{{ form_max_S }}">
		                                        <div id="picker2" hidden></div>
	                                        </div>
											{% else %}
											<input class="form-input" type="text" value="{{ form_max_S }}" name="max_S" />
											{% endif %}
										</div>
										
					        	        <div class="cell medium-1 large-2 show-for-medium" align="left" style="margin-left: 10px;"><input type="submit" value="Valider" class="button button-a" /></div>
									</div>
								</div>
								<div class="cell small-10 show-for-small-only" align="left"><input type="submit" value="Valider" class="button button-a" /></div>
					        	<div class="cell small-2 medium-1 large-1" align="right"><button type="button" class="button button-help" data-toggle="help">Infos</button></div>
				            </div>
                        </form>
						
						<!-- le callout d'aide -->
						{% include 'help.html' %}
					    
					    {% if size == 'default' %}
						<!-- Graphique en taille normale -->
					    <div class="callout post" style="padding-top: 0px;">
                            <canvas id="successesByTime"></canvas>
    			        </div>
					    {% endif %}
					
					{% endif %}
					
					{% endif %}
					
    			</div>
    		</div>
    		
    	</div>
		
		{% if task != "no_task" %}
		
		<!--
		la variable size décrite plus haut.
		si size == 'large' on affiche le graphique en dehors du <div class="grid-container"> afin qu'il occupe toute la page
		-->
		{% if size == 'large' %}
		    <!-- Graphique en taille large -->
		    <div class="callout post" style="padding-top: 0px;">
			    <!-- IMPORTANT
			    Remarquez que l'id = main
				main est une variable modifée par méthode GET qui indique quel est le graphique principal
				main peut donc valoir 3 valeurs différentes (puisqu'on a 3 graphs en tout)
				les autres canvas portent l'id d'une des valeurs de main (subm, month ou results)
				Ainsi le {{ main }} de ce canvas vaudra lui aussi subm, month ou results.
				-->
			    <canvas id="{{ main }}"></canvas>
			</div>
	    {% endif %}
		
		<!-- Les autres graphiques -->
		<div class="grid-container">
		    <div class="grid-x grid-margin-x">
			    <!--
				On affiche le graphique subm (Soumissions) si main != 'subm'
				Autrement dit, on affiche le graphique parmis les petits graphiques s'il n'est pas déjà le graphique principal (le main)
				-->
				{% if main != 'subm' %}
				<div class="medium-6 cell">
				    <h3 class="titre-1" style="align: 'center'">
					    <div class="tooltipw3">
						    <b>{{ titre_subm }}</b>
							<span class="tooltiptext show-for-large">
							    Nombre de soumissions effectuées par jour.
							</span>
						</div>
					</h3>
				    <a href="?task={{ task }}">
					    <div class="tooltipw3canvas" style="width: 100%;">
				            <div class="callout post">
				                <canvas id="subm"></canvas>
				            </div>
							<span class="tooltiptextcanvas show-for-large">
							    Cliquez pour agrandir
							</span>
					    </div>
					</a>
				</div>
				{% endif %}
				<!--
				idem pour le graph month (Soumissions par mois)
				-->
			    {% if main != 'month' %}
			    <div class="medium-6 cell">
				    <h3 class="titre-1" style="align: 'center'">
					    <div class="tooltipw3">
						    <b>{{ titre_subm_M }}</b>
							<span class="tooltiptext show-for-large">
							    Nombre de soumissions effectuées par mois.
							</span>
						</div>
					</h3>
				    <a href="?task={{ task }}&main=month">
					    <div class="tooltipw3canvas" style="width: 100%;">
				            <div class="callout post">
				                <canvas id="month"></canvas>
				            </div>
							<span class="tooltiptextcanvas show-for-large">
							    Cliquez pour agrandir
							</span>
					    </div>
					</a>
				</div>
				{% endif %}
				<!--
				idem pour le graph results (Résultats)
				-->
				{% if main != 'results' %}
				<div class="medium-6 cell">
				    <h3 class="titre-1" style="align: 'center'">
					    <div class="tooltipw3short">
						    <b>{{ titre_results }}</b>
							<span class="tooltiptextshort show-for-large">
							    Comparatif des résultats de l'ensemble des soumissions de l'exercice.
							</span>
						</div>
					</h3>
				    <a href="?task={{ task }}&main=results">
					    <div class="tooltipw3canvas" style="width: 100%;">
				            <div class="callout post">
				                <canvas id="results"></canvas>
				            </div>
							<span class="tooltiptextcanvas show-for-large">
							    Cliquez pour agrandir
							</span>
					    </div>
					</a>
				</div>
				{% endif %}
				<!--
				idem pour le graph successes (Réussites)
				-->
				{% if main != 'successes' %}
				<div class="medium-6 cell">
				    <h3 class="titre-1" style="align: 'center'">
					    <div class="tooltipw3short">
						    <b>{{ titre_successes }}</b>
							<span class="tooltiptextshort show-for-large">
							    Comparatif du nombre d'étudiants ayant réussi/raté l'exercice.
							</span>
						</div>
					</h3>
				    <a href="?task={{ task }}&main=successes">
					    <div class="tooltipw3canvas" style="width: 100%;">
				            <div class="callout post">
				                <canvas id="successes"></canvas>
				            </div>
							<span class="tooltiptextcanvas show-for-large">
							    Cliquez pour agrandir
							</span>
					    </div>
					</a>
				</div>
				{% endif %}
				<!--
				idem pour le graph successesByTime (Réussites par temps)
				-->
				{% if main != 'successesByTime' %}
				<div class="medium-6 cell">
				    <h3 class="titre-1" style="align: 'center'">
					    <div class="tooltipw3">
						    <b>{{ titre_successesByTime }}</b>
							<span class="tooltiptext show-for-large">
							    Nombre d'étudiants cumulé ayant réussi l'exercice au cours du temps.
							</span>
						</div>
					</h3>
				    <a href="?task={{ task }}&main=successesByTime">
					    <div class="tooltipw3canvas" style="width: 100%;">
				            <div class="callout post">
				                <canvas id="successesByTime"></canvas>
				            </div>
							<span class="tooltiptextcanvas show-for-large">
							    Cliquez pour agrandir
							</span>
					    </div>
					</a>
				</div>
				{% endif %}
			</div>
		</div>
		
	    {% endif %}
		
		<div class="grid-container">
		    <div class="grid-x grid-margin-x">
			    <div class="large-12 cell">
				    <h2 class="titre-1"><b>Exercices</b></h2>
					
					<form method="GET">
					    <div class="grid-x align-middle">
							<input type="hidden" name="sort" value="{{ sort }}" />
					        <div class="cell small-10 medium-11 large-11">
					            <div class="grid-x align-middle">
                                    <div class="cell small-6 medium-4 large-4"><input class="form-input" type="text" value="{{ search }}" name="search" /></div>
					    	        <div class="cell small-3 medium-2 large-2" align="left" style="margin-left: 10px;"><input type="submit" value="Rechercher" class="button button-a" /></div>
					            </div>
					        </div>
					    	<div class="cell small-2 medium-1 large-1" align="right"><button type="button" class="button button-help" data-toggle="help-list">Infos</button></div>
				        </div>
                    </form>
                    
				    <!-- le callout d'aide -->
				    {% include 'help-exercises-list.html' %}
					
					<table>
					    <tr>
						    
							{% if sort != 'name' and sort != 'def' %}
						    <td><p class="mod-table-cat-title"><a href="?sort=name&search={{ search }}" class="link-a">Tâche</a></p></td>
							{% elif sort == 'name' or sort == 'def' %}
						    <td><p class="mod-table-cat-title"><a href="?sort=name_reverse&search={{ search }}" class="link-a">Tâche</a></p></td>
							{% endif %}
							
							{% if sort != 'successes' %}
						    <td><p class="mod-table-cat-title"><a href="?sort=successes&search={{ search }}" class="link-a"># Étudiants Validé</a></p></td>
							{% elif sort == 'successes' %}
						    <td><p class="mod-table-cat-title"><a href="?sort=successes_reverse&search={{ search }}" class="link-a"># Étudiants Validé</a></p></td>
							{% endif %}
							
							{% if sort != 'tried' %}
						    <td><p class="mod-table-cat-title"><a href="?sort=tried&search={{ search }}" class="link-a"># Étudiants Essayé</a></p></td>
							{% elif sort == 'tried' %}
						    <td><p class="mod-table-cat-title"><a href="?sort=tried_reverse&search={{ search }}" class="link-a"># Étudiants Essayé</a></p></td>
							{% endif %}
							
							{% if sort != 'percentage' %}
						    <td><p class="mod-table-cat-title"><a href="?sort=percentage&search={{ search }}" class="link-a">Pourcentage réussites</a></p></td>
							{% elif sort == 'percentage' %}
						    <td><p class="mod-table-cat-title"><a href="?sort=percentage_reverse&search={{ search }}" class="link-a">Pourcentage réussites</a></p></td>
							{% endif %}
							
						</tr>
						{% for i in range(tasks_name | length) %}
						<tr>
						    <td>
					            <a href="?task={{ tasks_name[i] }}" class="link-a">
							        {{ tasks_name[i] }}
					            </a>
					        </td>
                            <td>{{ tasks_succeeded[i] }}</td>
						    <td>{{ tasks_tried[i] }}</td>
						    <td>{{ percentage[i] }} %</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
		
    </section>

    <!-- SCRIPT DU 1er GRAPHIQUE -->
	<script>
		// Graphique des soumissions par jour (line/courbe)
		
        // l'identifiant est celui du canevas
        var ctx = document.getElementById('subm').getContext('2d');
        // création du graphique
        var myChart = new Chart(ctx, {
            type: '{{type_subm}}',  // le type du graphique
            data: {  // les données
                
			    {% if labels %}
                    labels: {{ labels | safe }},
		        {% endif %}
			    		        
                datasets: [{
                    label: 'Soumissions',
                    backgroundColor: {% if theme == 'blue' %}"#3e95cd",{% elif theme == 'red' %}"#c45850",{% elif theme == 'green' %}"#3e95cd",{% elif theme == 'mono' %}'grey',{% endif %}
                    borderColor: {% if theme == 'blue' %}"#3e95cd",{% elif theme == 'red' %}"#c45850",{% elif theme == 'green' %}"#3e95cd",{% elif theme == 'mono' %}'grey',{% endif %}
                    fill: false,  // fill: false -> permet de ne pas remplir la zone sous la courbe
                    //data: {{ data | safe }} ---> TO BE DELETED
                    data: [
                        {% for i in range(data| length) %}  // correspond à: for i in range(len(data))
                            { x: "{{ dates[i] | safe }}", y: {{ data[i] | safe }} },  // affichez le code source de la page si vous ne voyez pas ce que ça fait
                        {% endfor %}
                    ]
                }, {
                    label: 'Soumissions valides',
                    backgroundColor: {% if theme == 'mono' %}'#424242',{% else %}"rgba(60, 186, 159, 0.5)",{% endif %}
                    borderColor: {% if theme == 'mono' %}'#424242',{% else %}"#3cba9f",{% endif %}
                    data: [
                        {% for i in range(dataV| length) %}
                            { x: "{{ datesV[i] | safe }}", y: {{ dataV[i] | safe }} },
                        {% endfor %}
                    ]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: '{{ unit }}',
							min: '{{ min }}',
							max: '{{ max }}'
                        }
                    }]
                },
				elements: {
				    line: {
                        tension: 0
                    }
				}
            }
        });
    </script>
	
	<!-- SCRIPT DU 2eme GRAPHIQUE -->
	<script>
		// Graphique des soumissions par mois (bar)
		
        // l'identifiant est celui du canevas
        var ctx = document.getElementById('month').getContext('2d');
        // création du graphique
        var myChart = new Chart(ctx, {
            type: '{{type_subm_M}}',  // le type du graphique
            data: {  // les données
                
			    {% if labels_M %}
                    labels: {{ labels_M | safe }},
		        {% endif %}
			    		        
                datasets: [{
                    label: 'Soumissions',
                    backgroundColor: {% if theme == 'blue' %}"#3e95cd",{% elif theme == 'red' %}"#c45850",{% elif theme == 'green' %}"#3e95cd",{% elif theme == 'mono' %}'grey',{% endif %}
                    borderColor: {% if theme == 'blue' %}"#3e95cd",{% elif theme == 'red' %}"#c45850",{% elif theme == 'green' %}"#3e95cd",{% elif theme == 'mono' %}'grey',{% endif %}
                    fill: false,  // fill: false -> permet de ne pas remplir la zone sous la courbe
                    //data: {{ data | safe }} ---> TO BE DELETED
                    data: [
                        {% for i in range(data_M| length) %}  // correspond à: for i in range(len(data))
                            { x: "{{ dates_M[i] | safe }}", y: {{ data_M[i] | safe }} },  // affichez le code source de la page si vous ne voyez pas ce que ça fait
                        {% endfor %}
                    ]
                }, {
                    label: 'Soumissions valides',
                    backgroundColor: {% if theme == 'mono' %}'#424242',{% else %}"#3cba9f",{% endif %}
                    borderColor: {% if theme == 'mono' %}'#424242',{% else %}"#3cba9f",{% endif %}
                    data: [
                        {% for i in range(dataV_M| length) %}
                            { x: "{{ datesV_M[i] | safe }}", y: {{ dataV_M[i] | safe }} },
                        {% endfor %}
                    ]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: '{{ unit_M }}',
							min: '{{ min_M }}',
							max: '{{ max_M }}'
                        }
                    }]
                }
            }
        });
    </script>
	
	<!-- SCRIPT DU 3eme GRAPHIQUE -->
	<script>
	    // Graphique des résultats (pie chart)
	
	    // l'identifiant est celui du canevas
        var ctx = document.getElementById('results').getContext('2d');
        // création du graphique
        var myChart = new Chart(ctx, {
            type: '{{type_results}}',  // le type du graphique
            data: {  // les données
                labels: {{ labels_results[1:] | safe }},
                datasets: [{
                    label: 'Soumissions',
                    backgroundColor:
					    {% if theme == 'red' %}
					    ["#3cba9f","#c45850", "#8e5ea2","#e8c3b9","#3e95cd", "grey"],
						{% elif theme == 'mono' %}
						["#424242","grey", "dimgrey","darkgrey","silver", "lightgrey"],
						{% else %}
						["#3cba9f","#3e95cd", "#8e5ea2","#e8c3b9","#c45850", "grey"],
						{% endif %}
                    fill: false,  // fill: false -> permet de ne pas remplir la zone sous la courbe
                    data: {{ data_results[1:] | safe }}
                }]
            }
        });
    </script>
	
	<!-- SCRIPT DU 4eme GRAPHIQUE -->
	<script>
	    // Graphique des réussites (doughnut chart)
	
	    // l'identifiant est celui du canevas
        var ctx = document.getElementById('successes').getContext('2d');
        // création du graphique
        var myChart = new Chart(ctx, {
            type: '{{type_successes}}',  // le type du graphique
            data: {  // les données
                labels: {{ labels_successes[1:] | safe }},
                datasets: [{
                    label: 'Résulats',
                    backgroundColor:
					    {% if theme == 'red' %}
						["#3cba9f","#c45850"],
					    {% elif theme == 'mono' %}
					    ["#424242","grey"],
						{% else %}
						["#3cba9f","#3e95cd"],
						{% endif %}
                    fill: false,  // fill: false -> permet de ne pas remplir la zone sous la courbe
                    data: {{ data_successes[1:] | safe }}
                }]
            }
        });
    </script>

    <!-- SCRIPT DU 5e GRAPHIQUE -->
	<script>
		// Graphique des réussites par jour (line/courbe)
		
        // l'identifiant est celui du canevas
        var ctx = document.getElementById('successesByTime').getContext('2d');
        // création du graphique
        var myChart = new Chart(ctx, {
            type: '{{type_successesByTime}}',  // le type du graphique
            data: {  // les données
                
			    {% if labels_S %}
                    labels: {{ labels_S | safe }},
		        {% endif %}
			    		        
                datasets: [{
                    label: 'Réussites',
                    backgroundColor: {% if theme == 'blue' %}"#3e95cd",{% elif theme == 'red' %}"#c45850",{% elif theme == 'green' %}"#3cba9f",{% elif theme == 'mono' %}'grey',{% endif %}
                    borderColor: {% if theme == 'blue' %}"#3e95cd",{% elif theme == 'red' %}"#c45850",{% elif theme == 'green' %}"#3cba9f",{% elif theme == 'mono' %}'grey',{% endif %}
                    fill: false,  // fill: false -> permet de ne pas remplir la zone sous la courbe
                    //data: {{ data | safe }} ---> TO BE DELETED
                    data: [
                        {% for i in range(data_S| length) %}  // correspond à: for i in range(len(data))
                            { x: "{{ dates_S[i] | safe }}", y: {{ data_S[i] | safe }} },  // affichez le code source de la page si vous ne voyez pas ce que ça fait
                        {% endfor %}
                    ]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: '{{ unit_S }}',
							min: '{{ min_S }}',
							max: '{{ max_S }}'
                        }
                    }]
                },
				elements: {
				    line: {
                        tension: 0
                    }
				}
            }
        });
    </script>

{% endblock %}