{% if main == 'subm' %}

    {% if task %}
    <!-- HELP pour le graphiques des soumissions par jour - EXERCICE -->
    
	{% if helpMessage == 'True' %}
	<div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %}" data-toggler data-animate="fade-in fade-out" id="help" style="padding-bottom: 2px;">
	{% else %}
    <div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %} is-hidden" data-toggler="is-hidden" id="help" style="padding-bottom: 2px;">
	{% endif %}
        <div class="grid-x align-middle">
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Ce graphique affiche le nombre total de soumissions par jour. En vert, le nombre de soumissions valides parmi celles-ci.
                </p>
            </div>
    	    
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>{% if size == 'large' %}réduire{% else %}agrandir{% endif %} le graphique</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if size == 'large' %}Réduire{% else %}Agrandir{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>modifier la durée</b> à afficher, modifiez les dates dans le formulaire et cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">Valider</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour <b>afficher un autre graphique</b>, cliquez sur l'un des graphiques présents plus bas.
    				Vous pouvez également utiliser les grands boutons en haut de la page.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; La <b>liste des exercices</b> est présente en bas des graphiques.
                </p>
            </div>
    		
        </div>
    </div>
	
	{% else %}
    <!-- HELP pour le graphiques des soumissions par jour - COURS -->
    
	{% if helpMessage == 'True' %}
	<div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %}" data-toggler data-animate="fade-in fade-out" id="help" style="padding-bottom: 2px;">
	{% else %}
    <div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %} is-hidden" data-toggler="is-hidden" id="help" style="padding-bottom: 2px;">
	{% endif %}
        <div class="grid-x align-middle">
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Ce graphique affiche le nombre total de soumissions par jour. En vert, le nombre de soumissions valides parmi celles-ci.
                </p>
            </div>
    	    
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>{% if size == 'large' %}réduire{% else %}agrandir{% endif %} le graphique</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if size == 'large' %}Réduire{% else %}Agrandir{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>modifier la durée</b> à afficher, modifiez les dates dans le formulaire et cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">Valider</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour <b>afficher un autre graphique</b>, cliquez sur l'un des graphiques présents plus bas.
    				Vous pouvez également utiliser les grands boutons en haut de la page.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour accéder à la <b>liste des exercices</b> ainsi qu'à leurs graphiques,
    				cliquez sur le grand bouton <i>Exercices</i> en haut de la page.
                </p>
            </div>
    		
        </div>
    </div>
	{% endif %}


{% elif main == 'month' %}

    {% if task %}
    <!-- HELP pour le graphiques des soumissions par mois - EXERCICE -->

	{% if helpMessage == 'True' %}
	<div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %}" data-toggler data-animate="fade-in fade-out" id="help" style="padding-bottom: 2px;">
	{% else %}
    <div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %} is-hidden" data-toggler="is-hidden" id="help" style="padding-bottom: 2px;">
	{% endif %}
        <div class="grid-x align-middle">
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Ce graphique affiche le nombre total de soumissions par mois. En vert, le nombre de soumissions valides parmi celles-ci.
                </p>
            </div>
    	    
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>{% if size == 'large' %}réduire{% else %}agrandir{% endif %} le graphique</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px ">{% if size == 'large' %}Réduire{% else %}Agrandir{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>modifier la durée</b> à afficher, modifiez les dates dans le formulaire et cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">Valider</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour <b>afficher un autre graphique</b>, cliquez sur l'un des graphiques présents plus bas.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Attention, les grands boutons en haut de la page (Soumissions, Soumissions par Mois, Résultats) redirigent vers les graphiques du cours.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; La <b>liste des exercices</b> est présente en bas des graphiques.
    				Vous pouvez également l'afficher en ré-utilisant le grand bouton <i>Exercices</i> en haut de la page.
                </p>
            </div>
    		
        </div>
    </div>
	
	{% else %}
	<!-- HELP pour le graphiques des soumissions par mois - COURS -->
	
	{% if helpMessage == 'True' %}
	<div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %}" data-toggler data-animate="fade-in fade-out" id="help" style="padding-bottom: 2px;">
	{% else %}
    <div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %} is-hidden" data-toggler="is-hidden" id="help" style="padding-bottom: 2px;">
	{% endif %}
        <div class="grid-x align-middle">
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Ce graphique affiche le nombre total de soumissions par mois. En vert, le nombre de soumissions valides parmi celles-ci.
                </p>
            </div>
    	    
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>{% if size == 'large' %}réduire{% else %}agrandir{% endif %} le graphique</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if size == 'large' %}Réduire{% else %}Agrandir{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>modifier la durée</b> à afficher, modifiez les dates dans le formulaire et cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">Valider</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour <b>afficher un autre graphique</b>, cliquez sur l'un des graphiques présents plus bas.
    				Vous pouvez également utiliser les grands boutons en haut de la page.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour accéder à la <b>liste des exercices</b> ainsi qu'à leurs graphiques,
    				cliquez sur le grand bouton <i>Exercices</i> en haut de la page.
                </p>
            </div>
    		
        </div>
    </div>
	
	{% endif %}


{% elif main == 'results' %}

    {% if task %}
    <!-- HELP pour le graphiques des résultats - EXERCICE -->

	{% if helpMessage == 'True' %}
	<div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %}" data-toggler data-animate="fade-in fade-out" id="help" style="padding-bottom: 2px;">
	{% else %}
    <div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %} is-hidden" data-toggler="is-hidden" id="help" style="padding-bottom: 2px;">
	{% endif %}
        <div class="grid-x align-middle">
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Ce graphique permet de visualiser le nombre de soumissions de chaque type.
                </p>
            </div>
    	    
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>{% if size == 'large' %}réduire{% else %}agrandir{% endif %} le graphique</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if size == 'large' %}Réduire{% else %}Agrandir{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour afficher les données en <b>{% if datatype == 'pourcentage' %}nombres{% else %}pourcentages{% endif %}</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if datatype == 'pourcentage' %}Nombre{% else %}Pourcentage{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour <b>afficher un autre graphique</b>, cliquez sur l'un des graphiques présents plus bas.
    				Vous pouvez également utiliser les grands boutons en haut de la page.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; La <b>liste des exercices</b> est présente en bas des graphiques.
                </p>
            </div>
    		
        </div>
    </div>

    {% else %}
    <!-- HELP pour le graphiques des résultats - COURS -->
	
	{% if helpMessage == 'True' %}
	<div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %}" data-toggler data-animate="fade-in fade-out" id="help" style="padding-bottom: 2px;">
	{% else %}
    <div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %} is-hidden" data-toggler="is-hidden" id="help" style="padding-bottom: 2px;">
	{% endif %}
        <div class="grid-x align-middle">
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Ce graphique permet de visualiser le nombre de soumissions de chaque type.
                </p>
            </div>
    	    
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>{% if size == 'large' %}réduire{% else %}agrandir{% endif %} le graphique</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if size == 'large' %}Réduire{% else %}Agrandir{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour afficher les données en <b>{% if datatype == 'pourcentage' %}nombres{% else %}pourcentages{% endif %}</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if datatype == 'pourcentage' %}Nombre{% else %}Pourcentage{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour <b>afficher un autre graphique</b>, cliquez sur l'un des graphiques présents plus bas.
    				Vous pouvez également utiliser les grands boutons en haut de la page.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour accéder à la <b>liste des exercices</b> ainsi qu'à leurs graphiques,
    				cliquez sur le grand bouton <i>Exercices</i> en haut de la page.
                </p>
            </div>
    		
        </div>
    </div>
	
	{% endif %}


{% elif main == 'successes' %}

    {% if task %}
    <!-- HELP pour le graphiques des réussites - EXERCICE -->

	{% if helpMessage == 'True' %}
	<div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %}" data-toggler data-animate="fade-in fade-out" id="help" style="padding-bottom: 2px;">
	{% else %}
    <div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %} is-hidden" data-toggler="is-hidden" id="help" style="padding-bottom: 2px;">
	{% endif %}
        <div class="grid-x align-middle">
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Ce graphique permet de voir le
					{% if datatype == 'pourcentage' %}pourcentage{% else %}nombre{% endif %}
					d'étudiants ayant réussi l'exercice par rapport au
					{% if datatype == 'pourcentage' %}pourcentage{% else %}nombre{% endif %}
					l'ayant échoué.
                </p>
            </div>
    	    
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>{% if size == 'large' %}réduire{% else %}agrandir{% endif %} le graphique</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if size == 'large' %}Réduire{% else %}Agrandir{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour afficher les données en <b>{% if datatype == 'pourcentage' %}nombres{% else %}pourcentages{% endif %}</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if datatype == 'pourcentage' %}Nombre{% else %}Pourcentage{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour <b>afficher un autre graphique</b>, cliquez sur l'un des graphiques présents plus bas.
    				Vous pouvez également utiliser les grands boutons en haut de la page.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; La <b>liste des exercices</b> est présente en bas des graphiques.
                </p>
            </div>
    		
        </div>
    </div>
	
	{% endif %}


{% elif main == 'successesByTime' %}

    {% if task %}
    <!-- HELP pour le graphiques des réussites cumulées au cours du temps - EXERCICE -->

	{% if helpMessage == 'True' %}
	<div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %}" data-toggler data-animate="fade-in fade-out" id="help" style="padding-bottom: 2px;">
	{% else %}
    <div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %} is-hidden" data-toggler="is-hidden" id="help" style="padding-bottom: 2px;">
	{% endif %}
        <div class="grid-x align-middle">
    	    
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>{% if size == 'large' %}réduire{% else %}agrandir{% endif %} le graphique</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if size == 'large' %}Réduire{% else %}Agrandir{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>modifier la durée</b> à afficher, modifiez les dates dans le formulaire et cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">Valider</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour <b>afficher un autre graphique</b>, cliquez sur l'un des graphiques présents plus bas.
    				Vous pouvez également utiliser les grands boutons en haut de la page.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; La <b>liste des exercices</b> est présente en bas des graphiques.
                </p>
            </div>
    		
        </div>
    </div>
	
	{% endif %}


{% elif main == 'exercices_subm' %}

    <!-- HELP pour le graphiques des pourcentages de reussites - COURS -->

	{% if helpMessage == 'True' %}
	<div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %}" data-toggler data-animate="fade-in fade-out" id="help" style="padding-bottom: 2px;">
	{% else %}
    <div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %} is-hidden" data-toggler="is-hidden" id="help" style="padding-bottom: 2px;">
	{% endif %}
        <div class="grid-x align-middle">
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Ce graphique permet de comparer les notes moyennes des exercices pour avoir une estimation de leur difficulté.
                </p>
            </div>
    	    
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>{% if size == 'large' %}réduire{% else %}agrandir{% endif %} le graphique</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if size == 'large' %}Réduire{% else %}Agrandir{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    	    
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
					    {% if min10 == 'True' %}
                        <p>
                    	    &#149; Pour afficher les exercices <b>sans tenir compte d'un minimum d'étudiants</b>, cliquez sur
                        </p>
				        {% else %}
                        <p>
                    	    &#149; Pour n'afficher <b>que les exercices essayés par au moins 10 étudiants</b>, cliquez sur
                        </p>
				        {% endif %}
                    </div>
                    <div class="cell small-2">
					    {% if min10 == 'True' %}
						<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if size == 'large' %}Réduire{% else %}No Minimum{% endif %}</button>
						{% else %}
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if size == 'large' %}Réduire{% else %}Minimum 10{% endif %}</button>
						{% endif %}
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour <b>afficher un autre graphique</b>, cliquez sur l'un des graphiques présents plus bas.
    				Vous pouvez également utiliser les grands boutons en haut de la page.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour accéder à la <b>liste des exercices</b> ainsi qu'à leurs graphiques,
    				cliquez sur le grand bouton <i>Exercices</i> en haut de la page.
                </p>
            </div>
    		
        </div>
    </div>


{% elif main == 'active_hours' %}

    <!-- HELP pour le graphiques des heures d'activité - COURS -->

	{% if helpMessage == 'True' %}
	<div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %}" data-toggler data-animate="fade-in fade-out" id="help" style="padding-bottom: 2px;">
	{% else %}
    <div class="callout {% if theme == 'blue' %}primary{% elif theme == 'red' %}alert{% elif theme == 'green' %}success{% elif theme == 'mono' %}secondary{% elif theme == 'contrast' %}warning{% endif %} is-hidden" data-toggler="is-hidden" id="help" style="padding-bottom: 2px;">
	{% endif %}
        <div class="grid-x align-middle">
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Ce graphique permet de voir, en moyenne, les heures durant lesquelles les étudiants sont les plus actifs.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour chaque heure de la journée est donné le pourcentage de soumissions effectuées durant cette heure.
                </p>
            </div>
    	    
    		<div class="cell small-12">
    		    <div class="grid-x align-middle">
    		        <div>
                        <p>
                    	    &#149; Pour <b>{% if size == 'large' %}réduire{% else %}agrandir{% endif %} le graphique</b>, cliquez sur
                        </p>
                    </div>
                    <div class="cell small-2">
    		        	<button type="button" class="button small button-a button-a-hover-disabled" style="margin-left: 10px">{% if size == 'large' %}Réduire{% else %}Agrandir{% endif %}</button>
    	            </div>
    		    </div>
    		</div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour <b>afficher un autre graphique</b>, cliquez sur l'un des graphiques présents plus bas.
    				Vous pouvez également utiliser les grands boutons en haut de la page.
                </p>
            </div>
    		
    		<div class="cell small-12">
                <p>
            	    &#149; Pour accéder à la <b>liste des exercices</b> ainsi qu'à leurs graphiques,
    				cliquez sur le grand bouton <i>Exercices</i> en haut de la page.
                </p>
            </div>
    		
        </div>
    </div>

{% endif %}

