{% extends "base.html" %}


{% block body_content %}

    <section class="main">
	
        <div class="grid-container">
		
            <h1 class="page-title">Bienvenue !</h1>
			
            <div class="grid-x grid-margin-x">
                <div class="large-12 cell">
                    <div class="callout post" style="padding-top: 0px;">
                        <h3 class="titre-1" style="align: 'center'"><b>Inginious Stats</b></h3>
                        <p class="p-post">
						    Bienvenue sur l'<b>application Flask du groupe B2</b>.
						    <br/>
                            Le site est actuellement encore en <b>version ALPHA</b>. Néanmoins, son développement s'est fortement accéléré durant ces derniers jours.
                        </p>
                    </div>
                    <div class="callout post" style="padding-top: 0px;">
                        <h3 class="titre-1" style="align: 'center'"><b><i>Zurb Foundation</i></b></h3>
                        <p class="p-post">
						    Nous avons choisi d'utiliser le Framework CSS <i>Foundation</i>.
							<br/>
							Sa grande popularité, son efficacité et sa légèreté en matière de design nous ont convaincu.
							<br/>
							En effet, point de vue esthétique, contrairement à de nombreux frameworks, Foundation se veut minimaliste avec de faibles retouches css.
							Le design de notre site se base donc sur Foundation mais a été fortement personnalisé à presque tous les niveaux (menus, formes, angles, polices, ...).
							<br/>
							Pour plus d'infos, notament par rapport aux avantages techniques, nous vous invitons à visiter leur
							<a href="https://get.foundation/index.html" class="link-a">site</a>.
                        </p>
                    </div>
                    <div class="callout post" style="padding-top: 0px;">
                        <h3 class="titre-1" style="align: 'center'"><b>GitHub</b></h3>
                        <p class="p-post">
						    Voici le lien vers notre repository:
							<br/>
							<a href="https://github.com/Nikola-Putnik/Projet2_Groupe_B_2-Partie-2-Web" class="link-a">https://github.com/Nikola-Putnik/Projet2_Groupe_B_2-Partie-2-Web</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
		
    </section>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}